<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<h1> Hello,</h1>
<p>
  A new child has been created on myUPMD.
</p>
<div class="p-5">
  <table class="w-full text-left rounded-lg text-sm md:text-base">
    <thead>
    <tr>
      <% [:first_name, :last_name, :birth_date, :age, :grade, :conditions].each do |s| %>
        <th class="p-1 md:px-4 md:py-3 border-2 border-gray-500"><%= s.to_s.humanize %></th>
      <% end %>
      <th class="p-1 md:px-4 md:py-3 border-2 border-gray-500">Comments</th>
    </tr>
    </thead>
    <tr>
      <% [:first_name, :last_name, :birth_date, :age, :grade, :conditions, :public_comment].each do |s| %>
        <td class="p-1 md:px-4 md:py-3 border-2 border-gray-500"><%= @child.send(s) %></td>
      <% end %>
    </tr>

  </table>
  <div class="p-5">
    <%= link_to "View", bus_drivers_child_url(id: @child.id), class: "shadow bg-indigo-500 focus:outline-none text-white py-2 px-4 rounded cursor-pointer transition duration-500" %>
  </div>
</div>
</body>
</html>
