<p><%= t("mails.hello", email: @resource.email) %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t "mails.email_changing", email: @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t "mails.email_changed", email: @resource.email %>.</p>
<% end %>
