<div class="w-full md:w-1/2 bg-blue min-h-screen">
  <div class="w-full flex flex-col items-center justify-center">
    <%= image_tag 'sidebar_logo.png', class: 'w-2/5' %>
    <h2 class="text-2xl md:text-5xl uppercase text-white"><%= t(title) %></h2>
  </div>

</div>